<!-- archivo.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba de Imagen Base64</title>
</head>
  <!-- Muestra la imagen usando la cadena Base64 -->
  CÓDIGO    RE-GAC-033		COLEGIO AMERICANO DE BOGOTÁ - NIT. 800.156.763-3																	
  VERSIÓN	Vs-06																		 imagen aca 		
  VIGENCIA	04/08/2022																				
  NOMBRE DEL FORMATO		INFORME ANUAL DEL ESTUDIANTE PREESCOLAR A GRADO DÉCIMO 																	
</body>
</html>
 