<!-- archivo.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba de Imagen Base64</title>
</head>
  <!-- Muestra la imagen usando la cadena Base64 -->
  <img src="<%= imageBase64 %>" alt="Imagen Base64">
</body>
</html>
 