
   <!-- Contenido de tu página -->
   <script src="/JS/Dash.js"></script>
    
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    </body>
   
</body>
</html>



<!-- menu desplegable -->
<script>
   document.addEventListener('DOMContentLoaded', function () {
        // Menú desplegable 1
        let dropdownButton = document.querySelector('.dropbtn');
        let dropdownContent = document.getElementById('dropdownContent');

        dropdownButton.addEventListener('click', function (event) {
            event.stopPropagation();
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
        });

        document.body.addEventListener('click', function () {
            dropdownContent.style.display = 'none';
        });

        dropdownContent.addEventListener('click', function (event) {
            event.stopPropagation();
        });



        // Ocultar todos los menús desplegables al principio
        document.querySelectorAll('.ellipsis-content').forEach(function (content) {
            content.style.display = 'none';
        });

        // Menú desplegable 2
        var ellipsisButtons = document.querySelectorAll(".ellipsis-button");
        ellipsisButtons.forEach(function (ellipsisButton) {
            ellipsisButton.addEventListener("click", function (event) {
                event.stopPropagation();
                toggleEllipsisMenu(ellipsisButton);
            });
        });

        document.addEventListener("click", function (event) {
            if (!event.target.closest(".ellipsis-dropdown")) {
                document.querySelectorAll(".ellipsis-content").forEach(function (content) {
                    content.style.display = "none";
                });
            }
        });

        document.querySelectorAll('.ellipsis-dropdown').forEach(function (dropdown) {
            dropdown.addEventListener("mouseenter", function () {
                ellipsisContent.style.display = "block";
            });

            dropdown.addEventListener("mouseleave", function () {
                ellipsisContent.style.display = "none";
            });
        });

        function toggleEllipsisMenu(ellipsisButton) {
            const ellipsisContent = ellipsisButton.nextElementSibling;
            if (ellipsisContent.style.display === "block") {
                ellipsisContent.style.display = "none";
            } else {
                document.querySelectorAll(".ellipsis-content").forEach(function (content) {
                    content.style.display = "none";
                });
                ellipsisContent.style.display = "block";
            }
        }
    });
    </script>
